.navbar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
 
}

.logo {
  
 
  font-family:'Josefin Sans', sans-serif;
  margin-left: 70px;
  cursor: pointer;
  text-decoration: none;
  
  
}


.logot{
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}
.nav-link a{
  color: red;
  font-family: 'Piedra', cursive;;
}